.file-drag-handle {
    display: none !important;
}

.kv-file-remove {
    display: none !important;
}

.kv-file-rotate {
    display: none !important;
}

.no-caret {
    caret-color: transparent !important;
}